@using Ship.Model.ViewModel
@model Ship.Model.ViewModel.ContentOptimization

@{ 
    Model.ImageIcon = SiteSettings.CDN + "/Content/theme/site/img/icon/Golateh_Logo.png";
}

@if (Model.IsUser == false)
{
    <title>@Model.Title</title>
    <meta name="description" content="@Model.Descption" />
    <meta name="keywords" content="@Model.Keywords" />

    <link rel="shortcut icon" href="@Model.ImageIcon" type="image/x-icon" />
    <link rel="icon" href="@Model.ImageIcon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Model.ImageIcon" />
    <meta name="thumbnail" content="@Model.ImageIcon" />

    <meta name="robots" content="noarchive" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="google" content="notranslate">

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />

    <meta name="google-site-verification" content="ggNVrPVXZTW6yWM07xdWPBZILextOQR7tKNjM42icKk" />
}
else
{
    <title>@Model.Title</title>
    <meta name="description" content="@Model.Descption" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta name="theme-color" content="#147df2">
    <meta name="author" content="@Model.Author">
    <meta name="copyright" content="@Model.Copyright" />
    <meta name="abstract" content="@Model.Abstract" />
    <link rel="canonical" href="@(Request.Url.Scheme + "://" + Request.Url.Authority + Request.Url.AbsolutePath)" />

    <link rel="shortcut icon" href="@Model.ImageIcon" type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#147df2">
    <meta name="revisit-after" content="3 days" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />

    if (string.IsNullOrWhiteSpace(Model.Keywords) == false)
    {
        foreach (var item in Model.Keywords.Split(','))
        {
            <meta property="article:tag" content="@item.Trim()" />
        }
    }

    <link rel="shortcut icon" href="@Model.ImageIcon" type="image/x-icon" />
    <link rel="icon" href="@Model.ImageIcon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Model.ImageIcon" />
    <meta name="thumbnail" content="@Model.ImageIcon" />


    <meta name="robots" content="noodp,noydir" />
    <meta name="robots" content="archive" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="translate">

    <meta name="generator" content="@Model.Generator" />

    <meta property="og:locale" content="@Model.Locale" />
    <meta property="og:type" content="@Model.Type" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Descption" />
    <meta property="og:url" content="@Model.Url" />
    <meta property="og:site_name" content="@Model.SiteName" />

    <meta name="DC.title" content="@Model.Title" />
    <meta name="geo.region" content="IR-Tehran" />

    <link rel="canonical" href="@Model.Url" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />

    <meta name="google-site-verification" content="ggNVrPVXZTW6yWM07xdWPBZILextOQR7tKNjM42icKk" />
}