@model List<Ship.Model.ViewModel.Admin.GetListShipViewModel>

<div class="row">
    @foreach (var cc in Model)
    {
        <div class="col-lg-3" style="cursor:pointer">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        @if (string.IsNullOrWhiteSpace(cc.Image) == false)
                        {
                            <div class="row">
                                <div class="col"><a target="_blank" href="@cc.Image"><img width="100" height="100" src="@cc.Image" style="border-radius:50px;" /></a></div>
                            </div>
                        }
                    </div>

                    <div class="d-flex flex-column align-items-center text-center">
                        @* @if (string.IsNullOrWhiteSpace(cc.Image) == false)
                            {
                               <div class="row">

                                    <br />
                                    <div class="col" onclick="window.location.href = '/admin/ship/myship?id=@cc.Id'"><h4>@cc.Title</h4></div>
                                </div>
                                            }*@

                        <div class="mt-3" onclick="window.location.href = '/admin/ship/myship?id=@cc.Id'">
                            <h4>
                                @cc.Title @if (cc.IsEnded == false)
                                {<i class="bx bxs-check-circle" style="color: #2edd03; font-size: 40px;"></i>}
                            </h4>
                        </div>

                    </div>
                    <hr class="my-4">
                    <ul class="list-group list-group-flush" onclick="window.location.href = '/admin/ship/myship?id=@cc.Id'">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">شماره لنج</h6>
                            <span class="text-secondary">@cc.Number</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">تاریخ تولید</h6>
                            <span class="text-secondary">@cc.YearProduction</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                طول
                            </h6>
                            <span class="text-secondary">@cc.Tul</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                عرض
                            </h6>
                            <span class="text-secondary">@cc.Arz</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                نام موتور
                            </h6>
                            <span class="text-secondary">@cc.NameMotor</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                حجم موتور
                            </h6>
                            <span class="text-secondary">@cc.HajMotor</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                شماره بیمه
                            </h6>
                            <span class="text-secondary">@cc.ShomareBime</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                اعتبار اشتراک
                            </h6>
                            @if (cc.IsEnded == true)
                            {
                                <button type="button" onclick="window.location.href='/admin/buysubscription/buytopay?id=@cc.Id'" class="btn btn-success btn-sm">خرید اشتراک</button>
                            }
                            else
                            {
                                <span class="text-secondary">@cc.ExpireDate <i class="bx bxs-check-circle" style="color: #2edd03;"></i></span>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    @if (Model.Any() == false)
    {
        <br />
        <h5 style="text-align: center; font-size: 16px;">موردی یافت نشد</h5>
    }
</div>